* {
  margin: 0;
  padding: 0;
}

body header div h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  background: #9ba6aa;
  color: white;
}

body main .flourish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

body main .flourish nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

body main .flourish nav ul li {
  margin-right: 30px;
}

body main .flourish nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

body main h2 {
  margin-right: 27px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #f18379;
}

body main .basket {
  height: 30px;
}

body main .photo div img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body main .photo h3 {
  position: absolute;
  margin: -300px 0px 0px 180px;
  width: 70%;
  text-align: center;
  font-size: 30px;
  color: white;
}

body main .photo h5 {
  position: absolute;
  margin: -130px 0px 0px 470px;
  width: 30%;
  text-align: center;
  font-size: 20px;
  color: white;
  border: 1px solid #aa8e76;
  background-color: #aa8e76;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .fourthdiv {
  height: 160px;
  margin-bottom: 40px;
}

body main .fourthdiv .h4divh4 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 40%;
  margin-left: 420px;
  font-size: 24px;
}

body main .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

body main .icons .card-deck {
  width: 60%;
}

body main .icons .card-deck .card {
  border: none;
}

body main .icons .card-deck .card h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  background-color: #98a7a4;
  height: 40px;
  color: white;
}

body main .icons .card-deck .card .card-img-top {
  width: 40%;
  margin-left: 73px;
}

body main .icons .card-deck .card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .seventhdiv .card-group .card {
  height: 400px;
  border: none;
  background-color: #f7f6f2;
}

body main .seventhdiv .card-group .card .workgirl {
  height: 100%;
}

body main .seventhdiv .card-group .card b {
  margin-left: 140px;
  margin-top: 90px;
}

body main .seventhdiv .card-group .card strong {
  margin-top: 15px;
  margin-left: 140px;
}

body main .seventhdiv .card-group .card h4 {
  font-size: 18px;
  width: 60%;
  margin: auto;
  margin-left: 140px;
  margin-bottom: 60px;
}

body main .eighthdiv .card-deck {
  width: 60%;
  margin-top: 140px;
  margin-left: 270px;
}

body main .eighthdiv .card-deck .card {
  border: none;
  height: 400px;
  background-color: blanchedalmond;
}

body main .eighthdiv .card-deck .card img {
  height: 240px;
}
/*# sourceMappingURL=style.css.map */